.table {
  background-color: #f3f3f3;
  width: 300px;
  margin: 10px auto;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.table-head {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}

.table-body {
  text-align: center;
}

.member {
  color: #717171;
  font-style: italic;
  padding-bottom: 10px;
}

.table-body button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  justify-content: center;
}

button:hover {
  background-color: #0056b3;
}
