.card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
/* Ini untuk Layar Desktop */
@media (min-width: 768px) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
